.homesearch{
    position:absolute;
    top:45%;
    left:44%;
}

.homesearch button{
    margin-top: 10px;
    color:white;
    background-color: #ff6b81;
   padding:1rem;
   border-radius: 5px;
   font-size: large;
   font-weight: 300;
   outline:none;
   border:none;
   font-family: 'Merriweather', serif;
   transition: all 0.5s ease-in;
   cursor: pointer;

}

.homesearch button:hover{
    background-color: #eb2f06
}



