 .cardlist{
    min-height:47vh;
    width:20vw;
    box-shadow: 0px 0px 15px -5px;
    overflow: hidden;
    transition: all 0.2s;
    animation: ease-in;
    border-radius: 5px;
    max-height: 51vh;
}

.cardlist:hover{
    box-shadow: 0px 0px 12px 0px;
    transform: translateZ(0);
}

.receipe-image{
    max-height: 30vh;
}

.receipe-image img{
    max-height: max(10rem, 30vh);
    width: 100%;
    overflow: hidden;
    animation: ease-in;
    cursor: pointer;
    transition: 1s;
    animation: ease-in;
}

.receipe-image img:hover{
    transform: scale(1.1);
}

.receipe-title{
    min-height:9vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

.receipe-title p:first-child{
    font-size: 15.5px;
    color:#2c2c54;
    font-weight: bolder;
}

.receipe-title p:last-child{
    color:#ff5252;
    font-size:20px;
    font-weight: 300;
    font-family: cursive;
}