.details{
   width: 100%;
   min-height:100vh;
   background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipedetail-image{
    display:flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    margin-bottom:0px;
}

.receipedetail-image img{
    width:64%;
    max-height: 100%;
}

.recipe-title{
    width:100%;
    height:19vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe-title p{
    z-index: 10;
    width:50vw;
    max-height:18vh;
    -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    position: absolute;
    bottom: 12%;
    left: 50%;
    

    transform: translate(-50%, 20%) skewY(-6deg);
    color: rgb(249, 246, 246);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.2;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items: center;
    background-image: radial-gradient( circle 905.6px at 4.9% 7.9%,  rgba(218,0,0,1) 14.1%, rgba(168,2,144,1) 65%, rgba(102,2,110,1) 90% );
}

.receipe-ingredient{
    width: 45%;
    display:flex;
    align-items:center;
    margin:10px;
    flex-direction: column;
}

.ing{
    display:flex;
   justify-content: center;
   align-items: center;
   width:100%;
   padding: 14px;
   border: 1px solid black;
   color:White;
   background-color: #6b86c7;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   margin:1px;
   background-image: radial-gradient( circle 1076px at -0.4% 99.3%,  rgba(59,83,221,1) 22.3%, rgba(255,92,209,1) 100.2% );
}

.recipe-ingredient-title{
    font-weight: 600;
    font-family:  'Kaushan Script', cursive;
    font-size: 2rem;
    color: rgb(3, 1, 34);
}

.directions{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7px;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.directions p{
    width: 43%;
    text-align: center;
    height:14vh;
    line-height: 1.5;
    padding:20px;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    color:white;
    font-family: 'Roboto', sans-serif;
}

.directions span{
    color:lightpink;
    font-weight: 600;
    font-family:  'Kaushan Script', cursive;
    font-size: 1.1rem;
}

.directions button{
    margin:4px;
    padding:0.8rem;
    border: none;
    border-radius: 2px;
    background-color: #D81B60;
    cursor: pointer;
    transition:all 0.2s ease;
}

.directions button a{
    color:white;
    font-weight: 500;
    font-size: 1.1rem;
    font-family:'Times New Roman', Times, serif;
}
.parent-page{
    margin-top: 0%;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.parent-page button{
    margin:13px;
    padding:1rem;
    background-color:darkred;
    font-weight:500;
    color:lemonchiffon;
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition:all 0.2s ease;
}

.parent-page button:hover,.directions button:hover{
    transform: scaleX(1.1);
    background-color: darkslategrey;
}