@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bigelow+Rules&family=Fresca&family=Kaushan+Script&family=PT+Sans+Narrow&family=Roboto+Condensed&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bigelow+Rules&family=Fresca&family=Kaushan+Script&family=Merriweather&family=PT+Sans+Narrow&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  border: none;
}

button:focus{
  outline:none
}

